html, body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

/* applied to everything tells browser not to calculate default margin and padding*/
* {
    box-sizing: border-box;
}
/* add the image background and create shadow gradient affect, set background to take up 100% of page*/
header{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('images/netflix-desktop-background.jpg');
    height: 100vh;
}
/* target the navbar image and set the width and height and align logo in the middle vertically*/
nav img {
    width: 167px;
    height: 35px;
    vertical-align: middle;
}

 nav a.logo {
     display: inline-block;
     line-height: 100px;
     margin-left: 3%;
 }

 header nav {
     height: 90px;
 }

 /* style the sign in 'button' link*/

nav .signin {
    color: #fff;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 30px;
    margin-right: 3%;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
}


/*style the section*/
.pitch {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 35%;
}



/******************h2***********************/
/*target the h2*/
.pitch h2 {
    font-size: 50px;
    font-weight: 510;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}

/*media query for h2*/
@media only screen and (max-width: 600px) {
    .pitch h2 {
        font-size: 40px;
    }
}
/******************h2***********************/


/*******************title**********************/
/*target the title*/
.pitch-title {
    font-size: 50px;
    font-weight: 510;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 1%;
}

/*media query for title*/

@media only screen and (max-width: 600px) {
    .pitch-title {
        font-size: 40px;
    }
}
/*****************title************************/

/*****************subtitle************************/
/*target the subtitle*/
.pitch-subtitle {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 345;
    font-size: 30px;
    margin: 1%;
}

/*media query for subtitle*/
@media only screen and (max-width: 600px) {
    .pitch-subtitle {
        font-size: 25px;
    }
}
/*****************subtitle************************/

/*******************tagline**********************/
/*target the tagline*/
.pitch-tagline {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 350;
    font-size: 20px;
    margin: 1%;
}

/*media query for tagline*/
@media only screen and (max-width: 600px) {
    .pitch-tagline {
        font-size: 15px;
        margin: 2%;
    }
}

/******************tagline***********************/




/*adjust the form*/
.input-form {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2%;
    margin: 0;
}


/******************label section***********************/

/*adjust the label section*/
.get-label {
    display: flex;
    margin: 0;
    padding: 0;
}

/*media query for stacking label and button*/
@media only screen and (max-width: 600px) {
    .get-label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5%;
    }
}
/******************label section***********************/



/*****************email input************************/

/*target the email input*/
.enter-email {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: solid 2px orange;
    outline: none;
    resize: none;
    height: 65px;
    width: 545px;
    font-size: 16px;
    padding: 8px;
    margin: 0;
}

/*media query for email input*/
@media only screen and (max-width: 600px) {
    .enter-email {
        height: 55px;
        width: 465px;
        font-size: 12px;
    }
}

/****************email input************************/


/*******************button**********************/
/*target the button class*/
.btn {
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    background-color: #e50914;
    font-family: Arial, sans-serif;
    font-size: 24px;
    border-radius: 1px;
    border: none;
    height: 65px;
    width: 200px;
    padding: 8px;
    margin: 0;
}

/*media query for email input*/
@media only screen and (max-width: 600px) {
    .btn {
        height: 55px;
        width: 165px;
        margin: 8%;
        font-size: 20px;
    }
}

/*******************button**********************/

nav .signin:hover, .btn:hover {
    background: #f40612;
}